In [1]:
import pandas as pd

# Concatenate

In [2]:
# load two data tables
df_w1 = pd.read_csv('weather_1.csv')
df_w2 = pd.read_csv('weather_2.csv')

In [3]:
df_w1

        Date  Temperature  PM10  PM2.5
0   20210302         15.5   350     43
1   20210303         17.9   695     37
2   20210304         14.7   319     74
3   20210305         16.2   384     17
4   20210306         12.7   485     29
5   20210307         12.3   423     38
6   20210308         13.0   661     38
7   20210309         13.0   350     14
8   20210310         19.0   472     67
9   20210311         16.2   563     71
10  20210312          8.6   332     28
11  20210313         15.3   456     39
12  20210314         14.9   572     38
13  20210315         12.5   541     70

In [4]:
df_w2

        Date  Temperature  PM10  PM2.5
0   20210315         12.5   541     70
1   20210316         14.3   498     78
2   20210317         16.5   490     40
3   20210318          9.4   357     24
4   20210319         17.7   347     79
5   20210320         13.0   578     52
6   20210321          9.9   586     87
7   20210322         13.5   549     66
8   20210323         13.7   627     55
9   20210324          9.7   672     60
10  20210325          9.9   570     58

In [5]:
# concat two tables
df_w12 = pd.concat([df_w1, df_w2], axis=0)
df_w12

        Date  Temperature  PM10  PM2.5
0   20210302         15.5   350     43
1   20210303         17.9   695     37
2   20210304         14.7   319     74
3   20210305         16.2   384     17
4   20210306         12.7   485     29
5   20210307         12.3   423     38
6   20210308         13.0   661     38
7   20210309         13.0   350     14
8   20210310         19.0   472     67
9   20210311         16.2   563     71
10  20210312          8.6   332     28
11  20210313         15.3   456     39
12  20210314         14.9   572     38
13  20210315         12.5   541     70
0   20210315         12.5   541     70
1   20210316         14.3   498     78
2   20210317         16.5   490     40
3   20210318          9.4   357     24
4   20210319         17.7   347     79
5   20210320         13.0   578     52
6   20210321          9.9   586     87
7   20210322         13.5   549     66
8   20210323         13.7   627     55
9   20210324          9.7   672     60
10  20210325          9.9   570     58

In [6]:
# if required, remove duplicates
df_w12 = df_w12.drop_duplicates()

In [7]:
df_w12

        Date  Temperature  PM10  PM2.5
0   20210302         15.5   350     43
1   20210303         17.9   695     37
2   20210304         14.7   319     74
3   20210305         16.2   384     17
4   20210306         12.7   485     29
5   20210307         12.3   423     38
6   20210308         13.0   661     38
7   20210309         13.0   350     14
8   20210310         19.0   472     67
9   20210311         16.2   563     71
10  20210312          8.6   332     28
11  20210313         15.3   456     39
12  20210314         14.9   572     38
13  20210315         12.5   541     70
1   20210316         14.3   498     78
2   20210317         16.5   490     40
3   20210318          9.4   357     24
4   20210319         17.7   347     79
5   20210320         13.0   578     52
6   20210321          9.9   586     87
7   20210322         13.5   549     66
8   20210323         13.7   627     55
9   20210324          9.7   672     60
10  20210325          9.9   570     58

In [10]:
# reset index for a better look
df_w12 = df_w12.reset_index() # reset index
df_w12 = df_w12.drop(['index'], axis=1) # drop old index
df_w12

        Date  Temperature  PM10  PM2.5
0   20210302         15.5   350     43
1   20210303         17.9   695     37
2   20210304         14.7   319     74
3   20210305         16.2   384     17
4   20210306         12.7   485     29
5   20210307         12.3   423     38
6   20210308         13.0   661     38
7   20210309         13.0   350     14
8   20210310         19.0   472     67
9   20210311         16.2   563     71
10  20210312          8.6   332     28
11  20210313         15.3   456     39
12  20210314         14.9   572     38
13  20210315         12.5   541     70
14  20210316         14.3   498     78
15  20210317         16.5   490     40
16  20210318          9.4   357     24
17  20210319         17.7   347     79
18  20210320         13.0   578     52
19  20210321          9.9   586     87
20  20210322         13.5   549     66
21  20210323         13.7   627     55
22  20210324          9.7   672     60
23  20210325          9.9   570     58

# Join

In [11]:
# load another data tables
df_w3 = pd.read_csv('weather_3.csv')
df_w3

        Date     O3     CO  Rainfall
0   20210302  0.402  0.433       0.0
1   20210303  0.789  0.657       0.0
2   20210304  0.064  0.560       0.0
3   20210305  0.615  0.618       0.0
4   20210306  0.107  0.507       0.0
5   20210307  0.568  0.028       0.0
6   20210308  0.921  0.276       4.2
7   20210309  0.182  0.447       5.6
8   20210310  0.214  0.222       1.1
9   20210311  0.950  0.000       0.0
10  20210312  0.953  0.629       0.0
11  20210313  0.964  0.181       0.0
12  20210314  0.316  0.220       0.0
13  20210315  0.147  0.584       0.0
14  20210316  0.526  0.198       0.0
15  20210317  0.100  0.269       0.0
16  20210318  0.792  0.356       0.0
17  20210319  0.677  0.994       0.0
18  20210320  0.275  0.835       0.0
19  20210321  0.430  0.990       0.0
20  20210322  0.131  0.637       0.0
21  20210323  0.081  0.832       0.0
22  20210324  0.356  0.930       0.0
23  20210325  0.315  0.842       0.0

In [13]:
# join two tables (left join method, key: Date)
df_w123 = pd.merge(df_w12,df_w3, how='left', left_on='Date', right_on='Date')
df_w123

        Date  Temperature  PM10  PM2.5     O3     CO  Rainfall
0   20210302         15.5   350     43  0.402  0.433       0.0
1   20210303         17.9   695     37  0.789  0.657       0.0
2   20210304         14.7   319     74  0.064  0.560       0.0
3   20210305         16.2   384     17  0.615  0.618       0.0
4   20210306         12.7   485     29  0.107  0.507       0.0
5   20210307         12.3   423     38  0.568  0.028       0.0
6   20210308         13.0   661     38  0.921  0.276       4.2
7   20210309         13.0   350     14  0.182  0.447       5.6
8   20210310         19.0   472     67  0.214  0.222       1.1
9   20210311         16.2   563     71  0.950  0.000       0.0
10  20210312          8.6   332     28  0.953  0.629       0.0
11  20210313         15.3   456     39  0.964  0.181       0.0
12  20210314         14.9   572     38  0.316  0.220       0.0
13  20210315         12.5   541     70  0.147  0.584       0.0
14  20210316         14.3   498     78  0.526  0.198       0.0
15  20210317         16.5   490     40  0.100  0.269       0.0
16  20210318          9.4   357     24  0.792  0.356       0.0
17  20210319         17.7   347     79  0.677  0.994       0.0
18  20210320         13.0   578     52  0.275  0.835       0.0
19  20210321          9.9   586     87  0.430  0.990       0.0
20  20210322         13.5   549     66  0.131  0.637       0.0
21  20210323         13.7   627     55  0.081  0.832       0.0
22  20210324          9.7   672     60  0.356  0.930       0.0
23  20210325          9.9   570     58  0.315  0.842       0.0